main {
  width: 40%;
  margin: 0 auto;
  border: 1px solid aqua;
  border-radius: 5px;
}

header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: aqua;
}

header span {
  margin: 15px 0px 10px 20px;
  font-size: 20px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding: 30px 40px 10px 20px;
  justify-content: space-between;
  min-height: 220px;
}

.currency {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.row {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.log {
  width: 10%;
  padding-top: 15px;
}

.logo img {
  width: 20px;
  padding: 15px 0px 0px 5px;
}

.currency-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
}
.currency-name p {
  margin: 0;
  font-size: 15px;
}

.exchange {
  color: #ffff;
  background-color: #028538;
  padding-right: 5px;
}
